[user]
  name = Bobby Matson
  email = bobby.matson@gmail.com

[alias]
  co = checkout
  br = branch
  ci = commit
  st = status
  lg = log --oneline --graph --all

[core]
  editor = vim
[init]
  defaultBranch = main
